// H1 font
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

// Navbar font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Regular text font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFCC;
    font-size: 0,8rem;
}

@import "~bootstrap/scss/bootstrap";

:root {
    --grey-navbar-footer: #414141;
}

.navbarBackground {
    background-color: var(--grey-navbar-footer);
    color: #FFFFCC;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    justify-content: space-between;
}

.navbar-nav .nav-link.active {
    color: #FFFFCC;
    text-decoration: none;
}

a.nav-link.active:hover {
    color: #f16c20;
}

body {
    background-color: #0F0F0F;
    color: #FFFFCC;
    background-image: url("/assets/images/grey-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.first_background {
    background-image: url("/assets/images/Demantibulee-optimised.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.black_div {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.text-start {
    line-height: 18pt;
}

.grid {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
}

.grid li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation {
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
}

.pict {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 10rem;
}

.modalImg {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

.modal-content {
    width: 140%;
    color: #FFFFCC;
    background-image: url("/assets/images/grey-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.btn-close {
    color: #FFFFCC;
    background: #FFFFCC url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
}

.gridBook {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
}

.gridBook li {
    list-style-type: none;
    height: auto;
    flex-grow: 1;
}

.gridBook img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkAdmin {
    color: var(--grey-navbar-footer);
    text-decoration: none;
}

.linkAdmin:hover {
    color: #f16c20;
}

.buy {
    color:#FFFFCC;
    text-decoration: none;
}

.green {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 95%;
    background-position-y: center;
}