// H1 font
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

// Navbar font
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Regular text font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

@import "~bootstrap/scss/bootstrap";

:root {
    --grey-navbar-footer: #636469;
}

.navbarBackground {
    background-color: var(--grey-navbar-footer);
    color: #d6d6d6;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5em;
    justify-content: space-around;
}

a {
    color: #FFFFCC;
    text-decoration: none;
}

a:hover {
    color: #f16c20;
}

.lila {
    text-align: start;
}

body {
    background-color: #0F0F0F;
    color: #FFFFCC;
    background-image: url("/assets/images/grey-background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.grid {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
    padding: 0 14px;
}

.grid::after {
    content:"";
    display: block;
    flex-grow: 10;
}

.grid li {
    list-style-type: none;
    height: 250px;
    flex-grow: 1;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.presentation {
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
}

// .grid {
//     max-width: 1300px;
//     width: 80%;
//     height: auto;
//     margin: 15px auto; 
//     display: grid;
//     grid-template-columns: repeat(auto-fill, 300px);
//     justify-content: center;
//     grid-gap: 10px;
// }

// .grid-item {
//     width: 300px; 
//     height: 200px; 
//     background: #333;
// }

// @media screen and (max-width: 1201px) {
//     body {
//         background-size: inherit;
//     }
// }