<div class="d-flex">
  <div class="navbarBackground col-12 d-flex justify-content-around">
        <div class="ms-5 ps-5 d-flex">
            <script src="https://apis.google.com/js/platform.js"></script>
              <div class="g-ytsubscribe" style="text-align: center;" data-channelid="UCU_Z_MADfPlN9WdUvg1ho5Q" data-layout="full" 
              data-theme="dark" data-count="hidden">
              </div>
            <a class="nav-link active ms-2 mt-2" aria-current="page" target="_blank" href="https://www.youtube.com/@coquilledelune5794">Chaine
             Youtube</a>
        </div>

        <div class="ms-5 ps-5 d-flex">
            <img src="{{ asset('build/images/WhiteInstagram.png') }}" alt="Logo Instagram">
            <a class="nav-link active mt-2 ms-2" aria-current="page" target="_blank" href="https://www.instagram.com/coquille_de_lune/">Instagram</a>
        </div>
          <p class="mt-2">© 2023  par Lila Jacobieski</p>
    </div>
</div>
