<nav class="navbar navbar-expand-lg m-0 p-0">
  <div class="container-fluid navbarBackground d-flex col-12 m-0">
    <a class="navbar-brand ms-5" href="/"><h1 class="fw-bolder mt-2">LILA JACOBIESKI</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex col-3 justify-content-end">
      <a class="mt-2 mb-2 ms-5" aria-current="page" target="_blank" href="https://www.youtube.com/@coquilledelune5794"><img class="ms-5 col-4 bg-light" src="{{ asset('uploads/images/posters/LogoYoutube.png') }}" alt="Logo Youtube"></a>
      <a class="col-2 m-2" aria-current="page" target="_blank" href="https://www.instagram.com/coquille_de_lune/"><img class="col-10" src="{{ asset('build/images/WhiteInstagram.png') }}" alt="Logo Instagram"></a>
    </div>
    <div class="collapse navbar-collapse navbarBackground justify-content-between" id="navbarSupportedContent">
      <div class="navbar-nav mb-2 mb-lg-0 justify-content-end navbarBackground col-8 ms-5">
          <a class="nav-link active" aria-current="page" href="#galerie">GALERIE</a>
          <a class="nav-link active" aria-current="page" href="#ecriture">ECRITURE</a>
          <a class="nav-link active" aria-current="page" href="{{ path('contact') }}">CONTACT</a>
      </div>
    </div>
  </div>
</nav>
