<nav class="navbar navbar-expand-lg m-0 p-0">
  <div class="container-fluid navbarBackground d-flex justify-content-between col-12 m-0">
    <a class="navbar-brand ms-5" href="/"><h1 class="fw-bolder mt-2">LILA JACOBIESKI</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarBackground justify-content-between" id="navbarSupportedContent">
      <div class="navbar-nav mb-2 mb-lg-0 justify-content-end navbarBackground col-8 ms-5">
          <a class="nav-link active" aria-current="page" href="#galerie">GALERIE</a>
          <a class="nav-link active" aria-current="page" href="#ecriture">ECRITURE</a>
          <a class="nav-link active" aria-current="page" href="{{ path('contact') }}">CONTACT</a>
      </div>
    </div>
  </div>
</nav>
