<div>
  <ul class="navbarBackground">
    <div class="lilaTitle">
      <li class="lila">
        <a href="/">
        Lila Jacobieski
        </a>
      </li>
    </div>
    <li>
      <a href="/">
      GALERIE
      </a>
    </li>
    <li>
      <a href="/">
      ECRITURE
      </a>
    </li>
    <li>
      <a href="/">
      CONTACT
      </a>
    </li>
  </ul>
</div>