<div class="d-flex justify-content-between">
  <ul class="navbarBackground d-flex justify-content-between col-12">
    <div class="text-middle pb-0 pt-2 mb-0">
      <li class="col-12 ms-5">
        <a href="/"><h1 class="mb-0">LILA JACOBIESKI</h1>
        </a>
      </li>
    </div>
    <div class="d-flex col-6 justify-content-between">
    <li class="m-3">
      <a href="/">
      GALERIE
      </a>
    </li>
    <li class="m-3">
      <a href="/">
      ECRITURE
      </a>
    </li>
    <li class="m-3">
      <a href="/">
      CONTACT
      </a>
    </li>
  </ul>
  </div>
</div>